@-webkit-keyframes "spin" {
	0% {
		-webkit-transform: rotate(0turn);
		transform: rotate(0turn);
	}
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes "spin" {
	0% {
		-webkit-transform: rotate(0turn);
		transform: rotate(0turn);
	}
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@-webkit-keyframes "apparition" {
	0% {
		-webkit-transform-origin: center right;
		transform-origin: center right;
	}
	20% {
		-webkit-transform-origin: center right;
		transform-origin: center right;
		-webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    opacity: 0;
	}
	90% {
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: center right;
		transform-origin: center right;
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		animation-duration: 10ms;
	}
}
@keyframes "apparition" {
	0% {
		-webkit-transform-origin: center right;
		transform-origin: center right;
	}
	20% {
		-webkit-transform-origin: center right;
		transform-origin: center right;
		-webkit-transform: scale(0, 1);
		transform: scale(0, 1);
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: center right;
		transform-origin: center right;
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		animation-duration: 10ms;
	}
}
@-webkit-keyframes "translation" {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@keyframes "translation" {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@-webkit-keyframes "color" {
	0% {
		color: #f6f6f6;
	}
	50% {
		color: #707070;
	}
	100% {
		color: #f6f6f6;
	}
}
@keyframes "color" {
	0% {
		color: #f6f6f6;
	}
	50% {
		color: #707070;
	}
	100% {
		color: #f6f6f6;
	}
}
@-webkit-keyframes "fade_out" {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@keyframes "fade_out" {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@-webkit-keyframes "fade_in" {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes "fade_in" {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
/* LIST ITEMS*/
/*LIST OF RESTAURANTS*/
@keyframes "checkRotation" {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
/*ANIMATION: MENU ITEMS APPEARING PROGRESSIVELY ON LOAD*/
/*animation delay of appearance is calculated based on 
both the number of the section (first is "Entrees", second is "Plats"...) 
from 1 to 3, and the number of the item in the section
from 1 to a number max of items (default : 4, defined as a variable in sass file)*/
/*small inconvenience : because of $nummax-items being always the same in 
($animation-dur--short * $nummax-items) * ($i - 1) that
allow for the sections to appear one at a time  
the  delay will not be completely even and there will be
a "gap" after a section with less than $nummax-items items
*/
@keyframes "itemAppearing" {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
/*RESTAURANT PAGES*/
/*# sourceMappingURL=style.css.map */
html {
	max-width: 100%;
	min-height: 100%;
	user-select: none;
	font-family: Roboto, sans-serif;
	color: black;
}
body {
	max-width: 100%;
	min-height: 100%;
	user-select: none;
	font-family: Roboto, sans-serif;
	color: black;
	background: #f6f6f6;
	text-align: center;
	font-size: 1.1em;
	position: relative;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	list-style: none;
}
h1 {
	font-size: 1.4em;
	padding: 25px 75px;
}
h2 {
	font-size: 1.3em;
	padding-top: 60px;
	padding-bottom: 25px;
}
h3 {
	font-size: 1.1em;
}
img {
	object-fit: cover;
	width: 100%;
	max-height: 250px;
}
section {
	&:nth-of-type(even) {
		background: white;
	}
	text-align: left;
	padding: 0 20px 0 20px;
	min-height: 440px;
}
.loader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 15rem;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	-webkit-animation: fade_out 1s ease-in 1s forwards;
	animation: fade_out 1s ease-in 1s forwards;
}
.loader__spinner {
	border: 1rem solid #f6f6f6;
	border-top: 1rem solid #707070;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
.loader__ico {
	font-size: 2rem;
	padding-top: 1rem;
	color: #353535;
	-webkit-animation: color 3s ease-in-out infinite;
	animation: color 3s ease-in-out infinite;
}
.main__fade-in {
	opacity: 0;
	-webkit-animation: fade_in 1s 2s ease-in forwards;
	animation: fade_in 1s 2s ease-in forwards;
}
.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.button {
	cursor: pointer;
	display: inline-block;
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 30px;
	padding: 20px;
	width: 220px;
	background: linear-gradient(180deg, #FF79DA, #9356DC);
	box-shadow: calc(5px - 2px) 5px 5px #d0d0d0;
	font-size: 1em;
	position: relative;
	margin-top: 60px;
	margin-bottom: calc(60px + 25px);
	&:hover {
		box-shadow: calc(5px + 1px) calc(5px + 2px) calc(5px + 2px) #d0d0d0;
		.button__bg {
			opacity: 0.25;
		}
	}
}
.button__bg {
	background: white;
	border-radius: 30px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity 300ms;
}
input.button {
	border: none;
}
.fa-heart {
	cursor: pointer;
	display: inline-block;
	font-size: 1.3em;
	position: absolute;
	bottom: 0;
	right: 0;
	&::before {
		position: relative;
		z-index: 1;
		transition: opacity 600ms;
	}
	&:hover {
		&::before {
			opacity: 0;
		}
		+ {
			.fa-heart__bg {
				&::before {
					opacity: 1;
				}
			}
		}
	}
}
.fa-heart__bg {
	&::before {
		background: linear-gradient(180deg, #9356DC, #FF79DA);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		opacity: 0;
		position: relative;
		transition: opacity 600ms;
		z-index: 0;
	}
}
#content {
	ol {
		list-style: none;
		li {
			box-shadow: calc(5px - 2px) 5px 5px #e6e6e6;
			border-radius: 30px;
			position: relative;
			z-index: 1;
			background-color: white;
			+ {
				li {
					margin-top: 25px;
				}
			}
		}
	}
	ul {
		list-style: none;
		li {
			box-shadow: calc(5px - 2px) 5px 5px #e6e6e6;
			border-radius: 30px;
			position: relative;
			z-index: 1;
			background-color: white;
			+ {
				li {
					margin-top: 25px;
				}
			}
		}
	}
}
ol {
	counter-reset: item 0;
	padding: 0 0 0 12.5px;
	.item {
		background: transparent;
		counter-increment: item;
		line-height: 75px;
		font-weight: bold;
		z-index: 1;
		&:before {
			content: counter(item);
			border-radius: 100%;
			background-color: #9356DC;
			width: 25px;
			line-height: 25px;
			text-align: center;
			margin-left: -12.5px;
			color: white;
			font-weight: bold;
			display: inline-block;
		}
		.fas {
			color: gray;
			line-height: 75px;
			padding: 0 20px 0 20px;
			position: relative;
			z-index: 0;
		}
		.fas--hover {
			position: absolute;
			left: 12.5px;
			z-index: 10;
			color: #9356DC;
			opacity: 0;
		}
		&:hover {
			.item__bg {
				opacity: 0;
			}
			.item__bg--hover {
				opacity: 0.1;
			}
			.fas {
				opacity: 0;
			}
			.fas--hover {
				opacity: 1;
			}
		}
	}
	.item__bg {
		background: #f6f6f6;
		border-radius: 30px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		transition: opacity 300ms;
	}
	.item__bg--hover {
		opacity: 0;
		background: #9356DC;
		transition: opacity 300ms;
	}
}
#restaurants {
	ul {
		position: relative;
		padding-bottom: 60px;
		li {
			height: 250px;
			position: relative;
			a {
				>p {
					position: absolute;
					top: 20px;
					right: 20px;
					z-index: 1;
					padding: 5px;
					width: max-content;
					color: green;
					font-weight: bold;
					font-size: 0.8em;
					text-align: center;
					background: #99E2D0;
					box-shadow: 3px 3px 3px #e6e6e6;
					border-radius: 5px;
				}
			}
		}
		figure {
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			display: inline-block;
			min-height: 100%;
			min-width: 100%;
			img {
				max-height: calc(100% - 90px);
				border-radius: 30px 30px 0 0;
			}
			figcaption {
				box-sizing: border-box;
				min-height: 90px;
				max-height: 90px;
				display: flex;
				flex-direction: column;
				padding: 20px;
				position: relative;
				.fa-heart {
					line-height: 90px;
					margin: 0 20px 0 0;
				}
			}
		}
	}
}
section.menu {
	text-align: left;
	background: #f6f6f6;
	padding: 0 20px 0 20px;
	h2 {
		text-transform: uppercase;
		font-weight: normal;
		position: relative;
		span {
			position: absolute;
			left: 0;
			right: calc(100% - 2em);
			bottom: calc(25px - 5px);
			border-bottom: 4px solid #99E2D0;
		}
	}
	.menu-item {
		display: flex;
		cursor: pointer;
		&:after {
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0px;
		}
		label {
			position: absolute;
			border-radius: 20px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&:hover {
			.menu-item__description {
				width: calc(100% - 100px);
				>* {
					white-space: nowrap;
				}
			}
			.menu-item__button {
				opacity: 1;
				width: 100px;
				.fas {
					animation: checkRotation 300ms ease-in-out;
				}
			}
		}
	}
	.menu-item__description {
		position: relative;
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		white-space: nowrap;
		transition: all 300ms ease-in-out;
		.long {
			white-space: normal;
		}
		>* {
			width: calc(100% - 40px - 5px);
			overflow: hidden;
			text-overflow: ellipsis;
		}
		p {
			&:last-child {
				position: absolute;
				bottom: 20px;
				right: 20px;
				width: 40px;
				text-align: right;
				font-weight: bold;
			}
		}
	}
	.menu-item__description--long {
		height: calc(100px + 1.1em);
	}
	.menu-item__button {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background: #99E2D0;
		border-radius: 0 20px 20px 0;
		display: flex;
		width: 0;
		opacity: 0;
		transition: all 300ms ease-in-out;
		span.fas {
			margin: auto;
			background: white;
			border-radius: 50%;
			color: #99E2D0;
			padding: 5px;
			font-size: 0.7em;
		}
		input {
			position: absolute;
			opacity: 0;
		}
	}
}
.menu {
	&:nth-child(1) {
		.menu-item {
			&:nth-child(1) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 300ms;
			}
			&:nth-child(2) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 450ms;
			}
			&:nth-child(3) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 600ms;
			}
			&:nth-child(4) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 750ms;
			}
		}
	}
	&:nth-child(2) {
		.menu-item {
			&:nth-child(1) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 900ms;
			}
			&:nth-child(2) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 1050ms;
			}
			&:nth-child(3) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 1200ms;
			}
			&:nth-child(4) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 1350ms;
			}
		}
	}
	&:nth-child(3) {
		.menu-item {
			&:nth-child(1) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 1500ms;
			}
			&:nth-child(2) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 1650ms;
			}
			&:nth-child(3) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 1800ms;
			}
			&:nth-child(4) {
				animation: itemAppearing 300ms ease-in-out backwards;
				animation-delay: 1950ms;
			}
		}
	}
}
header {
	display: flex;
	justify-content: center;
	position: relative;
	height: 60px;
	max-width: 100%;
	box-shadow: 0 5px 5px rgba(53, 53, 53, 0.3);
	background-color: white;
	img {
		max-width: 165px;
		max-height: 100%;
		margin: auto;
	}
	a {
		position: absolute;
		left: 0;
		padding-left: 20px;
		font-size: 1.3em;
		line-height: 60px;
	}
}
footer {
	height: 200px;
	background-color: #353535;
	padding: 0 20px 0 20px;
	display: flex;
	flex-direction: column;
	text-align: left;
	* {
		color: white;
	}
	p {
		font-family: Shrikhand, cursive;
		padding: 0 5px 0 5px;
		line-height: 60px;
		font-size: 1em;
	}
	ul {
		flex-grow: 1;
		padding: 0 5px 0 5px;
		>li {
			+ {
				li {
					padding-top: 0.8em;
				}
			}
		}
	}
	li {
		font-size: 0.8em;
		vertical-align: middle;
	}
	span.fas {
		display: inline-block;
		width: 0.8em;
		margin-right: 0.8em;
		font-size: 0.8em;
	}
}
#localisation {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #eaeaea;
	input[type=text] {
		font-weight: bold;
		font-size: 1em;
		border: none;
		margin: 0 1em;
		width: 150px;
		background: transparent;
	}
	input[type=submit] {
		display: none;
	}
}
#presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	h1 {
		text-align: center;
	}
	p {
		text-align: center;
		color: #4d4d4d;
	}
}
form {
	h1 {
		font-family: Shrikhand, cursive;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		height: calc(60px - 30px);
		margin-top: -30px;
		background: #f6f6f6;
		padding: 30px 20px 5px 20px;
		border-radius: 30px 30px 0 0;
		span.fa-heart {
			font-size: 1em;
			margin-right: 20px;
			margin-bottom: 5px;
			font-size: inherit;
		}
	}
}
@media screen and (min-width: 650px) {
	#restaurants {
		ul {
			li {
				+ {
					li {
						margin-top: 0px;
					}
				}
			}
			display: grid;
			grid-gap: 20px;
			grid-template-columns: 1fr 1fr;
		}
		background: #eaeaea;
	}
	section.menu {
		min-width: calc(450px);
	}
	footer {
		height: 100px;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			>li {
				+ {
					li {
						padding-top: 0px;
					}
				}
			}
		}
	}
	#presentation {
		width: calc(100% - 360px);
	}
	#fonctionnement {
		box-sizing: border-box;
		width: 360px;
		position: absolute;
		right: 0px;
		top: calc(60px + 60px);
	}
	form {
		div {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
	}
}
