/*px*/
html, body {
  max-width: 100%;
  min-height: 100%;
  user-select: none;
  font-family: Roboto, sans-serif;
  color: black;
}

body {
  background: #f6f6f6;
  text-align: center;
  font-size: 1.1em;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.4em;
  padding: 25px 75px;
}

h2 {
  font-size: 1.3em;
  padding-top: 60px;
  padding-bottom: 25px;
}

h3 {
  font-size: 1.1em;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}

section:nth-of-type(even) {
  /*if not specified otherwise, sections that follow one another will altern colors*/
  background: white;
}

section {
  text-align: left;
  padding: 0 20px 0 20px;
  min-height: 440px;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  -webkit-animation: fade_out 1s ease-in 1s forwards;
          animation: fade_out 1s ease-in 1s forwards;
}

.loader__spinner {
  border: 1rem solid #f6f6f6;
  border-top: 1rem solid #707070;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader__ico {
  font-size: 2rem;
  padding-top: 1rem;
  color: #353535;
  -webkit-animation: color 3s ease-in-out infinite;
          animation: color 3s ease-in-out infinite;
}


@keyframes removeLoader {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@keyframes coverOpen {
  100% {
    transform: rotateY(-25deg);
  }
}
@keyframes pageOpen {
  100% {
    transform: rotateY(-30deg);
  }
}
@keyframes pageTurn {
  100% {
    transform: rotateY(-155deg);
  }
}
@keyframes coverTurn {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-160deg);
  }
}
.button {
  cursor: pointer;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
  width: 220px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  /*creates a background with a gradient color from Secondary to Primary*/
  box-shadow: calc(5px - 2px) 5px 5px #d0d0d0;
  font-size: 1em;
  position: relative;
  margin-top: 60px;
  margin-bottom: calc(60px + 25px);
}
.button__bg {
  /*on hover this div on top of .button will appear (changin opacity) and make it lighter in color*/
  background: white;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 300ms;
}
.button:hover {
  box-shadow: calc(5px + 1px) calc(5px + 2px) calc(5px + 2px) #d0d0d0;
}
.button:hover .button__bg {
  opacity: 0.25;
}

input.button {
  border: none;
}

.fa-heart {
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.fa-heart::before {
  position: relative;
  z-index: 1;
  transition: opacity 600ms;
}
.fa-heart__bg::before {
  /*this icon on top of the other will appear on hover and creates the changing colored background effect*/
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  /*creates a background with a gradient color from Primary to Secondary*/
  -webkit-background-clip: text;
  /*the background is "cut" in the shape of the text*/
  -webkit-text-fill-color: transparent;
  /*the text itself is invisible to allow for the background gradient to be seen*/
  opacity: 0;
  position: relative;
  transition: opacity 600ms;
  z-index: 0;
}
.fa-heart:hover::before {
  opacity: 0;
}
.fa-heart:hover + .fa-heart__bg::before {
  opacity: 1;
}

/* LIST ITEMS*/
#content ol, #content ul {
  list-style: none;
  /*remove all markers, even for ol. See below where they are added for ol with :before*/
}
#content ol li, #content ul li {
  box-shadow: calc(5px - 2px) 5px 5px #e6e6e6;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  background-color: white;
}
#content ol li + li, #content ul li + li {
  margin-top: 25px;
}

ol {
  counter-reset: item 0;
  padding: 0 0 0 12.5px;
}
ol .item {
  background: transparent;
  counter-increment: item;
  line-height: 75px;
  font-weight: bold;
  z-index: 1;
}
ol .item:before {
  /*CREATING THE ROUND COUNTER FOR OL*/
  content: counter(item);
  border-radius: 100%;
  background-color: #9356DC;
  width: 25px;
  line-height: 25px;
  text-align: center;
  margin-left: -12.5px;
  /*puts the counter on the edge of the li*/
  color: white;
  font-weight: bold;
  display: inline-block;
}
ol .item .fas {
  /*will change color on hover via another icon on top of it (see .fas--hover below) */
  color: gray;
  line-height: 75px;
  padding: 0 20px 0 20px;
  position: relative;
  z-index: 0;
}
ol .item .fas--hover {
  /*the icon will change coler on hover*/
  position: absolute;
  left: 12.5px;
  /*to account for the ol marker*/
  z-index: 10;
  color: #9356DC;
  opacity: 0;
  /*not visible when no hover */
}
ol .item__bg {
  /*the background color will change on hover, using a div on top of this selector*/
  background: #f6f6f6;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 300ms;
}
ol .item__bg--hover {
  /*this will appear on hover*/
  opacity: 0;
  background: #9356DC;
  transition: opacity 300ms;
}
ol .item:hover {
  /*makes the usual background color disappear*/
  /*makes the new background color appear on hover*/
  /*makes the usual icon disappear */
  /*makes the icon with new color appear on hover*/
}
ol .item:hover .item__bg {
  opacity: 0;
}
ol .item:hover .item__bg--hover {
  opacity: 0.1;
}
ol .item:hover .fas {
  opacity: 0;
}
ol .item:hover .fas--hover {
  opacity: 1;
}

/*LIST OF RESTAURANTS*/
#restaurants ul {
  position: relative;
  padding-bottom: 60px;
}
#restaurants ul li {
  height: 250px;
  position: relative;
}
#restaurants ul li a > p {
  /*Style of 'Nouveau' panel*/
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  padding: 5px;
  width: max-content;
  color: green;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  background: #99E2D0;
  box-shadow: 3px 3px 3px #e6e6e6;
  border-radius: 5px;
}
@media screen and (min-width: 650px) {
  #restaurants ul li + li {
    margin-top: 0px;
  }
}
@media screen and (min-width: 650px) {
  #restaurants ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    /*on large screen, list will not appear on one column but two*/
  }
}
#restaurants ul figure {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
}
#restaurants ul figure img {
  max-height: calc(100% - 90px);
  border-radius: 30px 30px 0 0;
}
#restaurants ul figure figcaption {
  box-sizing: border-box;
  min-height: 90px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
#restaurants ul figure figcaption .fa-heart {
  line-height: 90px;
  margin: 0 20px 0 0;
}
@media screen and (min-width: 650px) {
  #restaurants {
    background: #eaeaea;
  }
}

section.menu {
  text-align: left;
  background: #f6f6f6;
  padding: 0 20px 0 20px;
}
@media screen and (min-width: 650px) {
  section.menu {
    min-width: calc(450px);
    /*to make all sections of menu the same width*/
  }
}
section.menu h2 {
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
}
section.menu h2 span {
  /*creates an underline that only span a percentage of the parent element width (default is set in _variables) */
  position: absolute;
  left: 0;
  right: calc(100% - 2em);
  bottom: calc(25px - 5px);
  border-bottom: 4px solid #99E2D0;
}
section.menu .menu-item {
  display: flex;
  cursor: pointer;
}
section.menu .menu-item:after {
  /*To make the pointer appear even on padding areas*/
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
}
section.menu .menu-item label {
  /*To make the whole item clickable (with input for future functionnality)*/
  position: absolute;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section.menu .menu-item__description {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: 100px;
  /*add a line worth of height when the name  OR the info of the item takes TWO lines instead of one (case not considered : if both take two lines...)*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*especially important for .menu-item__description--long*/
  white-space: nowrap;
  /*allows for the property text-overflow:ellipsis (see below) to work when the user stops hovering */
  transition: all 300ms ease-in-out;
}
section.menu .menu-item__description--long {
  height: calc(100px + 1.1em);
}
section.menu .menu-item__description .long {
  white-space: normal;
  /*allows the long name/info of item to take the two lines they need (long */
}
section.menu .menu-item__description > * {
  width: calc(100% - 40px - 5px);
  overflow: hidden;
  text-overflow: ellipsis;
  /*puts the suspension points needed for all phases of animation on animation*/
}
section.menu .menu-item__description p:last-child {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /*puts the price on the same baseline as info of menu item*/
  width: 40px;
  text-align: right;
  font-weight: bold;
}
section.menu .menu-item__button {
  /*animated to appear on hover*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: flex;
  width: 0;
  /*will change with transition*/
  opacity: 0;
  /*will change with transition*/
  transition: all 300ms ease-in-out;
}
section.menu .menu-item__button span.fas {
  /*checked icon animated on hover*/
  margin: auto;
  background: white;
  border-radius: 50%;
  color: #99E2D0;
  padding: 5px;
  font-size: 0.7em;
}
section.menu .menu-item__button input {
  /*will be useful for functionnality but no need to display*/
  position: absolute;
  opacity: 0;
}
section.menu .menu-item:hover {
  /*ANIMATION: CHOOSING A MENU ITEM*/
}
section.menu .menu-item:hover .menu-item__description {
  width: calc(100% - 100px);
}
section.menu .menu-item:hover .menu-item__description > * {
  /*hides the too long names/infos with suspension points*/
  white-space: nowrap;
  /*this actually change only for --long title or info*/
}
section.menu .menu-item:hover .menu-item__button {
  /*checked icon appears*/
  opacity: 1;
  width: 100px;
}
section.menu .menu-item:hover .menu-item__button .fas {
  animation: checkRotation 300ms ease-in-out;
}

@keyframes checkRotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
/*ANIMATION: MENU ITEMS APPEARING PROGRESSIVELY ON LOAD*/
/*animation delay of appearance is calculated based on 
both the number of the section (first is "Entrees", second is "Plats"...) 
from 1 to 3, and the number of the item in the section
from 1 to a number max of items (default : 4, defined as a variable in sass file)*/
/*small inconvenience : because of $nummax-items being always the same in 
($animation-dur--short * $nummax-items) * ($i - 1) that
allow for the sections to appear one at a time  
the  delay will not be completely even and there will be
a "gap" after a section with less than $nummax-items items
*/
.menu:nth-child(1) .menu-item:nth-child(1) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 300ms;
}
.menu:nth-child(1) .menu-item:nth-child(2) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 450ms;
}
.menu:nth-child(1) .menu-item:nth-child(3) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 600ms;
}
.menu:nth-child(1) .menu-item:nth-child(4) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 750ms;
}

.menu:nth-child(2) .menu-item:nth-child(1) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 900ms;
}
.menu:nth-child(2) .menu-item:nth-child(2) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1050ms;
}
.menu:nth-child(2) .menu-item:nth-child(3) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1200ms;
}
.menu:nth-child(2) .menu-item:nth-child(4) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1350ms;
}

.menu:nth-child(3) .menu-item:nth-child(1) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1500ms;
}
.menu:nth-child(3) .menu-item:nth-child(2) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1650ms;
}
.menu:nth-child(3) .menu-item:nth-child(3) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1800ms;
}
.menu:nth-child(3) .menu-item:nth-child(4) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1950ms;
}

@keyframes itemAppearing {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 60px;
  max-width: 100%;
  box-shadow: 0 5px 5px rgba(53, 53, 53, 0.3);
  background-color: white;
}
header img {
  max-width: 165px;
  max-height: 100%;
  margin: auto;
}
header a {
  position: absolute;
  left: 0;
  padding-left: 20px;
  font-size: 1.3em;
  line-height: 60px;
}

footer {
  height: 200px;
  background-color: #353535;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (min-width: 650px) {
  footer {
    height: 100px;
  }
}

footer * {
  color: white;
}

footer p {
  font-family: Shrikhand, cursive;
  padding: 0 5px 0 5px;
  line-height: 60px;
  font-size: 1em;
}

footer ul {
  flex-grow: 1;
  padding: 0 5px 0 5px;
}
@media screen and (min-width: 650px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

footer li {
  font-size: 0.8em;
  vertical-align: middle;
}

footer span.fas {
  display: inline-block;
  width: 0.8em;
  margin-right: 0.8em;
  font-size: 0.8em;
}

footer ul > li + li {
  padding-top: 0.8em;
}
@media screen and (min-width: 650px) {
  footer ul > li + li {
    padding-top: 0px;
  }
}

#localisation {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
}
#localisation input[type=text] {
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin: 0 1em;
  width: 150px;
  /*needs to be improved: should adjust depending on the entry*/
  background: transparent;
}
#localisation input[type=submit] {
  display: none;
}

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
#presentation h1 {
  text-align: center;
}
#presentation p {
  text-align: center;
  color: #4d4d4d;
}
@media screen and (min-width: 650px) {
  #presentation {
    width: calc(100% - 360px);
  }
}

@media screen and (min-width: 650px) {
  #fonctionnement {
    box-sizing: border-box;
    width: 360px;
    position: absolute;
    right: 0px;
    top: calc(60px + 60px);
  }
}

/*RESTAURANT PAGES*/
form h1 {
  font-family: Shrikhand, cursive;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: calc(60px - 30px);
  margin-top: -30px;
  background: #f6f6f6;
  padding: 30px 20px 5px 20px;
  border-radius: 30px 30px 0 0;
}
form h1 span.fa-heart {
  font-size: 1em;
  margin-right: 20px;
  margin-bottom: 5px;
  font-size: inherit;
  /*otherwise std size, too large*/
}
@media screen and (min-width: 650px) {
  form div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
